.playlistMain{
    background-color: white;
    width: 420px;
    height: 500px;
    border-radius: 7px;
    box-shadow: 4px 4px 8px -2px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    margin-top: 30px;
    position: absolute;
    top: 60px;
    color: var(--text-color);
    left: calc(50% - 210px);
    opacity: 0;
    transform: translateX(-1000px);
    transition: transform .5s, opacity .56s;
}

.playlistTop{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.clearButton{
    height: 100%;
    width: 25px;
    background-color: white;
    position: absolute;
    border: none;
    color: var(--text-color);
    text-align: center;
    line-height: 25px;
    font-size: 1.1em;
    right: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all .3s;
}

.clearButton:hover{
    cursor: pointer;
    background-color: #767676;
    color: white;
}

.playlistButton{
    width: 40px;
    height: 100%;
    box-shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.2);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: var(--text-color);
}

.playlistButton:hover{
    cursor: pointer;
    box-shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.8);
}

.playlistButton:active {
    background-color: #767676;
    color: white;
}

.searchWrapper{
    height: 30px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 7px;
}

.searchBar{
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 30px;
    width: calc(100% - 25px);
    padding: 0 10px;
}

.playlistScrollbox{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    overflow-y: scroll;
    border-radius: 7px;
    overflow-x: hidden;
}

.playlistScrollbox::-webkit-scrollbar{
    width: 6px;
    background-color: #ededed;
    border-radius: 7px;
}

.playlistScrollbox::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: #767676;
    border-radius: 7px;

}

.playlistOpen{
    transform: translate(0);
    opacity: 1;
}